.root {
	position: relative;
	width: 450px;
	height: 520px;
	transform: scale(0.8);
}

.head {
	position: absolute;
	left: 95px;
	bottom: 160px;
	z-index: 3;
}

.body {
	position: absolute;
	bottom: 0px;
	left: 40px;
	z-index: 2;
}

.tail {
	position: absolute;
	bottom: 130px;
	left: 0px;
	z-index: 1;
}
