.root {
	position: relative;
	width: 450px;
	height: 520px;
}

.head {
	position: absolute;
	left: 10px;
	bottom: 200px;
	z-index: 3;
}

.body {
	position: absolute;
	bottom: 0px;
	left: 90px;
	z-index: 2;
}

.tail {
	position: absolute;
	bottom: 55px;
	left: 275px;
	z-index: 1;
	transform-origin: -150px 250px;
}
